<!-- 展示所有未配药页面-->
<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>
		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<a href="#">药房药品配药</a>
			</li>
		</ul><!-- .breadcrumb -->
	</div>
	<div class="page-content">
		<!-- PAGE CONTENT BEGINS -->
		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
					<div class="row">
						<div class="col-xs-12">
							<form class="form-inline">
							  	<button class="btn btn-default allPayIndentBtn"  type="button">
								   		查询所有未配药订单
								</button>
							</form>
						<div class="hr hr-18 dotted hr-double"></div>
							<div class="table-responsive" id="show_pay_table">
								<!-- 要替换的表 -->
								~@$allPayBody@~
							</div><!-- /.table-responsive -->
						</div><!-- /span -->
					</div><!-- /row -->
				<!-- <div class="hr hr-18 dotted hr-double"></div> -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.page-content -->
</div><!-- /.main-content -->






       
				

		
			

	
