<!-- 取药页面 -->
<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>
		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<a href="#">药房药品发药</a>
			</li>
		</ul><!-- .breadcrumb -->
	</div>

	<div class="page-content">
		<!-- PAGE CONTENT BEGINS -->
		<div class="row">
			<div class="col-xs-12">
				<form class="form-inline">
					<div class="form-group col-md-offset-3 ">
				    <label for="form-exercise-1">请输入病人卡号</label><!-- laber绑定的id可以修改 -->
				    <input type="text" name="card" id="form-exercise-1" class="queryTakeInfo">
				  	</div>
				  	<button class="btn btn-default queryTakeBtn" type="button">
					   		查询
					</button>
				</form>
				<div class="hr hr-18 dotted hr-double"></div>
				<div class="table-responsive" id="changeTakeBody">
						<!-- 要替换的表 -->
						~@$qMedicineBody@~
					<div class="hr hr-18 dotted hr-double"></div>
				</div>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.page-content -->
</div><!-- /.main-container -->
	

	